<div class="container">
    <form [formGroup]="formGroup" (submit)="onsubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Group Name</label>
                <input type="text" name="GroupName" class="form-control" formControlName="GroupName">
                <div *ngIf="f.GroupName.invalid && (f.GroupName.dirty || f.GroupName.touched)">
                    <div *ngIf="f.GroupName.errors.required">Invalid Value</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Badge Id</label>
                <input type="text" name="BadgeId" class="form-control" formControlName="BadgeId">
                <div *ngIf="f.BadgeId.invalid && (f.BadgeId.dirty || f.BadgeId.touched)">
                    <div *ngIf="f.BadgeId.errors.required">Invalid Value</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="text" name="Email" class="form-control" formControlName="Email">
                <div *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched)">
                    <div *ngIf="f.Email.errors.required">Invalid Value</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Mobile</label>
                <input type="text" name="Mobile" class="form-control" formControlName="Mobile">
                <div *ngIf="f.Mobile.invalid && (f.Mobile.dirty || f.Mobile.touched)">
                    <div *ngIf="f.Mobile.errors.required">Invalid Value</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>State</label>
                <input type="text" name="State" class="form-control" formControlName="State">
                <div *ngIf="f.State.invalid && (f.State.dirty || f.State.touched)">
                    <div *ngIf="f.State.errors.required">Invalid Value</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Badge Type</label>
                <input type="text" name="BadgeType" class="form-control" formControlName="BadgeType">
                <div *ngIf="f.BadgeType.invalid && (f.BadgeType.dirty || f.BadgeType.touched)">
                    <div *ngIf="f.BadgeType.errors.required">Invalid Value</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Group Photo</label>
                <input type="file" name="Photo" class="form-control" (change)="onFile($event)" formControlName="Photo">
                <div *ngIf="f.Photo.invalid && (f.Photo.dirty || f.Photo.touched)">
                    <div *ngIf="f.Photo.errors.required">Invalid Value</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Submit</button>
            </div>
        </div>
    </form>
</div>